target/
*~
.class
.metadata
bin/
.polyglot*

bundles/.settings/

bundles/com.vogella.logging.config/.settings/

bundles/com.vogella.tycho.p2.ui/.settings/

bundles/com.vogella.tycho.platform/.settings/

bundles/com.vogella.tycho.platform.linux/.settings/

bundles/com.vogella.tycho.plugin1/.settings/

com.vogella.tycho.fatjar/.settings/

com.vogella.tycho.plugin1.tests/.settings/

com.vogella.tycho.plugin1.tests.junit4/.settings/

com.vogella.tycho.rcp.it.tests/.settings/

com.vogella.tycho.rcp.tests/.settings/

features/.settings/

releng/.settings/

releng/com.vogella.tycho.product/.settings/

releng/com.vogella.tycho.update/.settings/

.settings/
